# ARRAY SNIPPETS

snippet arr_def "array definition"
$${1:arrayName} = array($2)
endsnippet

snippet arr_index "indexed array"
array($1)
endsnippet

snippet arr_assoc "associated array"
array(${1:key} => ${2:value})
endsnippet

# ----------------------------------------------------

# CLASS SNIPPETS
snippet method "method definition"
${1:public} function ${2:methodName}(${3:argList}) {
	$0
}
endsnippet

# ----------------------------------------------------
